<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="2.80.2" targetFramework="xamarinmac20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="xamarinmac20" />
  <package id="VisioForge.CrossPlatform.Controls" version="1.1.9" targetFramework="xamarinmac20" />
  <package id="VisioForge.CrossPlatform.Core" version="1.1.9" targetFramework="xamarinmac20" />
  <package id="VisioForge.CrossPlatform.Redist.Mac" version="1.0.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.6.1" targetFramework="xamarinmac20" />
</packages>