# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
Media Player SDK/Android/Player Demo Android/obj/
Media Player SDK/Avalonia/Player Main Demo/bin/
Media Player SDK/Avalonia/Player Main Demo/obj/
Media Player SDK/NetCore/Main Demo NetCore/bin/
Media Player SDK/NetCore/Main Demo NetCore/obj/
Media Player SDK/Windows/Console Demo Windows/bin/
Media Player SDK/Windows/Console Demo Windows/obj/
Media Player SDK/Windows/Main Demo UWP/obj/
Media Player SDK/Windows/Main Demo WinForms/bin/
Media Player SDK/Windows/Main Demo WinForms/obj/
Media Player SDK/Windows/Main Demo WPF/bin/
Media Player SDK/Windows/Main Demo WPF/obj/
Media Player SDK/Windows/Mini Demo WPF/bin/
Media Player SDK/Windows/Mini Demo WPF/obj/
Media Player SDK/XamarinForms/MiniDemo/MiniDemo.Android/obj/
Media Player SDK/XamarinForms/MiniDemo/MiniDemo.UWP/obj/
Media Player SDK/XamarinForms/MiniDemo/MiniDemo/bin/
Media Player SDK/XamarinForms/MiniDemo/MiniDemo/obj/
Media Player SDK/Windows/Mini Demo UWP/obj/
Media Player SDK/.vs/
Media Player SDK/XamarinForms/MiniDemo/MiniDemo.Android/bin/
/Media Player SDK/MacOS/Main Demo macOS/obj/
/Media Player SDK/XamarinForms/MiniDemo/MiniDemo.iOS/bin/
/Media Player SDK/XamarinForms/MiniDemo/MiniDemo.iOS/obj/
/Media Player SDK/iOS_tvOS/Mini Demo iOS/bin/
/Media Player SDK/iOS_tvOS/Mini Demo iOS/obj/
/Media Player SDK/packages/
/Media Player SDK/MacOS/Main Demo macOS/bin/
Media Player SDK/MigrationBackup/
/Media Player SDK/XamarinForms/MiniDemo/MiniDemo.Mac/obj/
/Media Player SDK/XamarinForms/MiniDemo/MiniDemo.Mac/bin/
/Media Player SDK/XamarinForms/packages/